<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eap.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
				<key>dateExpires</key>
				<string>5/12/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CountryPickerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>CryptoSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ScrollingFollowView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyPickerPopover.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>VGPlayer.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BDB4D449E8D305AC336A84A0B525791811490343</string>
						<key>dateExpires</key>
						<string>5/12/20</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>protobuf.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>J7QH43ZS73</string>
						<key>name</key>
						<string>EAP Services Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J7QH43ZS73.com.eap.services</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J7QH43ZS73</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>eap.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ea655b5c-3793-449b-ab01-f49058469093</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.eap.services</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J7QH43ZS73</string>
				<key>name</key>
				<string>EAP Services Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
